<p>
  episodes works!
</p>

<div>
    <label>Show id:
      <input #eShowId />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="addEpisodes(eShowId.value);">
      add
    </button>

    <button (click)="deleteEpisode(eShowId.value);">
        delete
      </button>
  </div>

  <div>    
    <table class="calendar">
      <tr>
        <th>Sunday</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
      </tr>
      <tr>
        <td *ngFor="let ed of lastWeekEpisodes">
          <span class="dateLabel">{{ ed.day }}</span>
          <div *ngFor="let ep of ed.episodes">
            <span class="showName">{{ getShowName(ep.showid) }}</span>
            <br/>
            <span class="episodeDesc">({{ ep.airedSeason }}x{{ ep.airedEpisodeNumber }}) - {{ ep.episodeName }}</span>
          </div>
        </td>
      </tr>
      <tr>
        <td *ngFor="let ed of episodeDays">
            <span class="dateLabel">{{ ed.day }}</span>
            <div *ngFor="let ep of ed.episodes">
              <span class="showName">{{ getShowName(ep.showid) }}</span>
              <br/>
              <span class="episodeDesc">({{ ep.airedSeason }}x{{ ep.airedEpisodeNumber }}) - {{ ep.episodeName }}</span>
            </div>
        </td>
      </tr>
      <tr>
          <td *ngFor="let ed of nextWeekEpisodes">
              <span class="dateLabel">{{ ed.day }}</span>
              <div *ngFor="let ep of ed.episodes">
                <span class="showName">{{ getShowName(ep.showid) }}</span>
                <br/>
                <span class="episodeDesc">({{ ep.airedSeason }}x{{ ep.airedEpisodeNumber }}) - {{ ep.episodeName }}</span>
              </div>
          </td>
        </tr>
    </table>
  </div>

  <!--
  <mat-grid-list cols="7">
    <mat-grid-tile>Sunday</mat-grid-tile>
    <mat-grid-tile>Monday</mat-grid-tile>
    <mat-grid-tile>Tuesday</mat-grid-tile>
    <mat-grid-tile>Wednesday</mat-grid-tile>
    <mat-grid-tile>Thursday</mat-grid-tile>
    <mat-grid-tile>Friday</mat-grid-tile>
    <mat-grid-tile>Saturday</mat-grid-tile>
    
    <mat-grid-tile *ngFor="let ed of episodeDays" rowHeight="1:3">
      <span style="clear:both">{{ed.day}}</span>
      <br/>
      <mat-list>
      <mat-list-item *ngFor="let ep of ed.episodes">
          {{ getShowName(ep.showid) }}
          <br/>
           ({{ ep.airedSeason }}x{{ ep.airedEpisodeNumber }}) - {{ ep.episodeName }}
      </mat-list-item>
      </mat-list>
    </mat-grid-tile>
  
  </mat-grid-list>
-->
<hr>

<table class="episodeList">
  <tr class="">
    <th>Date</th>
    <th>Show</th>
  </tr>
  <tr *ngFor="let key of episodeKeys; let odd=odd; let even=even" [ngClass]="{ odd: odd, even:even}" class="">
    <td class="">{{ key }}</td>
    <td class="">
      <div *ngFor="let ep of sortedEpisodes[key]">
      {{ getShowName(ep.showid) }} ({{ ep.airedSeason }}x{{ ep.airedEpisodeNumber }}) - {{ ep.episodeName }}
      </div>
    </td>
  </tr>
</table>
