<p>
  episodes works!
</p>

<div>
    <label>Show id:
      <input #eShowId />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="addEpisodes(eShowId.value);">
      add
    </button>
  </div>

  <div>    
    <table>
      <tr>
        <td *ngFor="let ed of episodeDays">
          {{ ed.day }}
          <div *ngFor="let ep of ed.episodes">
            {{ getShowName(ep.showid) }} ({{ ep.airedSeason }}x{{ ep.airedEpisodeNumber }}) - {{ ep.episodeName }}
          </div>
        </td>
      </tr>
    </table>
  </div>

<hr>

<table class="episodeList">
  <tr class="">
    <th>Date</th>
    <th>Show</th>
  </tr>
  <tr *ngFor="let key of episodeKeys; let odd=odd; let even=even" [ngClass]="{ odd: odd, even:even}" class="">
    <td class="">{{ key }}</td>
    <td class="">
      <div *ngFor="let ep of sortedEpisodes[key]">
      {{ getShowName(ep.showid) }} ({{ ep.airedSeason }}x{{ ep.airedEpisodeNumber }}) - {{ ep.episodeName }}
      </div>
    </td>
  </tr>
</table>
